@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,700&display=swap');
:root{
    font-size: 62.5%;
    --main-background-color: #060606;

    --lang-button-color: #ffffff;
    --def-text-color: #ffffff;
    --small-title-text-color: #FFFFFF;
    --big-title-text-color: #DE131E;
}

body{
    background-color: var(--main-background-color);
    background-image: url(../img/background-image.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 180%;
}
@media all and (min-width: 1000px) {
    body{
        background-size: 100%;
    }
}
html, body {
    overflow-x: hidden;
}

html{
    box-sizing: border-box;
}

header{
    all: unset;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    margin-bottom: 18.5rem;
}
section{
    margin: 0 2.4rem;
}
header, section{
    max-width: 1200px;
    
    margin-left: 10%;
    margin-right: 10%;
}
@media all and (min-width: 1200px) {
    header{
        margin-bottom: 30%;
    }
    header, section{
        margin-left: auto;
        margin-right: auto;
    }
}

h1{
    display: none;
}
h2{
    font-family: Nunito;
    color: aliceblue;
    font-style: italic;
    font-weight: 700;
    font-size: 4.8rem;
    color: var(--big-title-text-color);
    margin-bottom: 3rem
}
p{
    font-family: Nunito;
    color: var(--def-text-color);
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.1rem;
    padding-right: 2rem;
    margin: 0;
    max-width: 36rem;
}
a{
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.1rem;
    text-decoration: none;
    color: var(--def-text-color);
}
.menu-buttons{
    margin-left: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.menu-buttons button{
    background-color: transparent;
    border-color: transparent;
}
.menu-buttons button:first-child{
    font-family: Nunito;
    font-weight: 200;
    font-style: italic;
    font-size: 1.6rem;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 3.5rem;
    padding: 1.2rem;
    background-color: var(--lang-button-color);
}
.menu-buttons button:last-child img{
    width: 4.2rem;
    height: 4.2rem;
}
.menu-buttons nav{
    display: none;
}
@media all and (min-width: 1200px) {
    .lang-button, .menu-button{
        display: none;
    }
    .menu-buttons nav{
        list-style: none;
        display: block;
    }
    .menu-buttons ul{
        all: unset;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        gap: 3rem;
    }
    .menu-buttons button:first-child{
        font-style: normal;
        background-color: transparent;
        color: var(--def-text-color);
    }
}
.main-article small{
    color: var(--small-title-text-color);
    font-weight: 700;
    font-size: 2.4rem;
}

.main-article div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-article img{
    margin-top: 1rem;
    margin-right: 3rem;
}
.main-article button{
    background-color: var(--big-title-text-color);
    border:none;
    border-radius: 1rem;

    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.2rem 2.5rem;
    height: fit-content;


    font-family: Nunito;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.1rem;
    color: var(--def-text-color);
}
@media all and (min-width: 1200px) {
    .main-article {
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
        flex-wrap: wrap;
    }
    .main-article div{
        margin-top: 5.3rem;
    }
    .main-article button{
        display: flex;
        margin-top: 10rem;
        margin-left: 0;
        margin-right: 0;
    }
}

legend, label{
    padding: 0.3rem;
    color: var(--def-text-color);
}
fieldset{
    margin: 2rem;
    border-width: 0.6rem;
    border-radius: 1rem;
    border-color: var(--big-title-text-color);
    border-style: dashed;
}

.order_form form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;

    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    max-width: 30rem;
    font-family: Nunito;
    font-size: 2rem;
}


input{
    background-color: #3a2b2b;
    color: #FFFFFF;
    border-radius: 1rem;
}
.order_form form div{
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    max-width: 90rem;
}
.order_form button{
    background-color: var(--big-title-text-color);
    border:none;
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 1.5rem;

    font-family: Nunito;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.1rem;
    color: var(--def-text-color);
}
.order_form button:hover{
    background-color: #d44949;
    color: #bb8e90;
}
.order_form button:active{
    background-color: #3a2b2b;
    color: #bb8e90;
}

::-webkit-input-placeholder{
    color: rgba(247, 162, 162, 0.678);
}